@bg-color: #cccccc;
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body{
  background-color: @bg-color;
  font-family: 'Ubuntu Mono', sans-serif;
}

legend{
  padding: 2px !important;
  background-color: black !important;
  color: white !important;
}

