@import url(http://fonts.googleapis.com/css?family=Griffy);
@import url(http://fonts.googleapis.com/css?family=Della+Respira);
@rand1: `Math.floor(Math.random()*256)`;
@rand2: `Math.floor(Math.random()*256)`;
@rand3: `Math.floor(Math.random()*256)`;

#wrapper{
  margin: auto;
  padding: 10px;
}

#wrapper h1{
  font-family: 'Griffy', cursive;
  text-align: center;
  font-size: 4em;
  color: rgb(@rand1, @rand2, @rand3);
}

h2, h3, p{
  font-family: 'Della Respira', serif;
  margin-top: 0px;
}

h2{
  font-size: 1.5em;
}

h3, p{
  text-align: center;
}

.statBox{
  width: 20%;
  float: left;
}

#petBox{
  -webkit-box-shadow: 0px 7px 5px -2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 7px 5px -2px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 7px 5px -2px rgba(50, 50, 50, 0.75);
}

button{
  margin: 0px;
}

.peticon{
  width: 50px;
  height: 50px;
}
