/*----------User Profile Page----------*/
#username, #activityBox{
  text-align: center;
}

#nodebucksbox{
  height: 50px;
  background: url('/img/icons/mariocoin.png') no-repeat;
  padding-left: 55px;
}

#nodebucksbox h4{
  line-height: 50px;
  font-size: 25px;
}

#petTable, #activitiesTable{
  width: 100%;
}

#petBox{
  margin-top: 50px;
}

#getPet{
  width: 100%;
}

#pic{
  width: 200px;
  height: 200px;
  background-size: cover;
}

#regform{
  height: 600px;
}

#wrapper{
  box-shadow: -1px 2px 12px 6px rgba(0,0,0,0.75);
  position: absolute;
  padding: 10px 10px;
  width: 750px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 450px;
}

#wrapper2{
  position: absolute;
  padding: 20px 0px;
  width: 700px;
  top: 0;
  right: 0;
  left: 650px;
  bottom: 0;
  margin: auto;
  height: 100px;
}

