@rand1: `Math.floor(Math.random()*256)`;
@rand2: `Math.floor(Math.random()*256)`;
@rand3: `Math.floor(Math.random()*256)`;
@import url(http://fonts.googleapis.com/css?family=Griffy);
@import url(http://fonts.googleapis.com/css?family=Della+Respira);

/*----------User Profile Page----------*/
h1{
  font-family: 'Griffy', cursive;
  font-size: 3em;
  color: rgb(@rand1, @rand2, @rand3);
}

body, h4{
  font-family: 'Della Respira', serif;
}

#activityBox{
  text-align: center;
}

#nodebucksbox{
  height: 50px;
  background: url('/img/icons/mariocoin.png') no-repeat;
  padding-left: 55px;
}

#nodebucksbox h4{
  line-height: 50px;
  font-size: 25px;
}

#petTable, #activitiesTable{
  width: 100%;
}

#activitiesTable th{
  text-align: center;
}

#petBox{
  margin-top: 10px;
}

#getPet{
  width: 100%;
}

#pic{
  width: 100px;
  height: 100px;
  background-size: cover;
}

#picBox{
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#homeBox{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 150px;
  border: solid 1px lightgray;
}
