extends ../shared/template

block less
 link(rel='stylesheet', href='/less/pets.css')

block content
  h1= title

  .row
    .small-4.columns
      form(method='post', action='/pets/new')
        fieldset
          legend Create Your Pet!
          label: h6 Name
          input(type='text', name='name')
          label(for='species'): h6 Choose the Species
            select(name='species')
              option Robot
              option Alien
              option Shark
              option Dragon
          label(for='class'): h6 Choose the Class
            select(name='class')
              option Pirate
              option Wizard
              option Ninja
              option Paladin
              option Vampire
          button.small.radius Create
    .small-8.columns

