extends ../shared/template

block less
 link(rel='stylesheet', href='/less/newpet.css')

block content
  h1= title

  #wrapper
    .row
      .small-12.columns
        form(method='post', action='/pets/new')
          fieldset
            legend Create Your Companion!
            label(for='name') Name
              input(type='text', name='name')
            label(for='species') Choose a Species
              select(name='species')
                option Robot
                option Alien
                option Shark
                option Dragon
                option Lion
            label(for='role') Choose a Role
              select(name='role')
                option Pirate
                option Wizard
                option Ninja
                option Paladin
                option Vampire
            button.small.right Create
