extends ../shared/template

block less
 link(rel='stylesheet', href='/less/pets.css')

block content
  h1.text-center#name= pet.name.toUpperCase()

  .row
    .small-3.columns
      div#image
        img(src= pet.image)
    .small-4.columns
      .row
        .small-12.columns
          h2 Status:
            = pet.status
      .row
        .small-12.columns
          h2 Species:
            = pet.species
      .row
        .small-12.columns
          h2 Role:
            = pet.role
    .small-5.columns
