extends ../shared/template

block content
  #body
    #wrapper
      .row
        .small-6.columns
          form(method='post', action='/login/local')
            fieldset
              legend=title
              label Email
              input(type='email', name='email', autofocus=true)
              label Password
              input(type='password', name='password')
              button.radius.small Login
        .small-1.columns
          #orBox OR
        .small-5.columns
          #fbBox
            a(href='/auth/facebook')#fbLogin
              img(src='/img/icons/fblogin.png')

block less
  link(rel='stylesheet', href='/less/login.css')
