extends ../shared/template

block content
  #wrapper
    h1 Nod&#233;Mon
    p Welcome to Nod&#233;Mon, a fun, exciting way to reward yourself for exercising, studying, being social, and doing all the other stuff that will make you (and your Nod&#233;Mon companion) happy! Go ahead and make an account (or just log in via Facebook) and get started on the path to self-improvement, creature companionship, and maybe even the top of the leaderboards!
    h3 How does Nod&#233;Mon work?
    p First, create a unique login or log in via Facebook. You'll be taken to your user profile, where you can click the big red button to create your first Nod&#233;Mon companion! The choices you make for your companion (species and role) will determine what its strengths and weaknesses are. For example, sharks are the strongest species, and wizards are the most intelligent role, so a shark wizard would be strong in those areas but weaker in others. Don't worry, though-- your companion's stats will increase as you go out and do fun stuff with them, like hiking, meeting friends, and studying!
    h3 How do I improve my companion?
    p To make your companion smarter, stronger, tougher, and so on, you'll need to take it along with you on your real-world adventures. When you go the park for a walk, be sure to sign in to Nod&#233;Mon first to log your activity by clicking the big blue New Activity button on your user profile page. From there, give it a title, category, and duration. You can also add some notes if you'd like, for example, "It's a beautiful day for a run with my dragon!" You can also find out the current weather, and choose the location where your activity is taking place from a list of landmarks in your area.
    h3 So then what happens?
    p Based on the activity you and your companion did together, its stats will improve. Studying at the library will make it smarter, whereas lifting weights will increase its strength. Whatever you do and wherever you go, your Nod&#233;Mon goes with you! Help it have a healthy, active, fun life and you might just find you're doing the same for yourself!

block less
  link(rel='stylesheet', href='/less/home.css')
