doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  body
    table(style='width: 100%; background-color: #eeeeee')
      tbody
        td(style='width: 100%')
          table
            thead
              th(colspan='3', style='color: #80F800; font-family:"Impact", "Trebuchet MS", Verdana, Geneva, sans-serif')
                h1 Welcome to Nodémon
            tbody
              td(colspan='3', style='padding: 10px; font-family:"Trebuchet MS", Verdana, Geneva, sans-serif')
                p Thank you, #{name}, for signing up for our website. We here at the Nodémon office in Nashville want to sincerly thank you for your involvment in our project.
                p We want to let you know why we created Nodémon. Nodémon was the idea that came to us after much discussion as to what our final group project should be. There was much diliberation and a few fights as to what we were going to do but through all that and the intevention of a friend who was not even working with us Nodémon the idea was thrown to the table and to much surpries there was very few reservations from the team.
                P So we started on a magical journey to create companion that would live this virtual world. The issue that all of us came across after the inital shock of such a great idea was 'what was our purpose'. We did not want to simply be another brain dead game that people sit on their phones and be anti social with but rather just the opposite. So very shortly after we started down this path we wanted to be something more than an addictive game or make money.
                P We wanted people to interact with other people rather than sumply our game, and instead of living a sendentary lifestyle. We wanted to be a catalyst of change rather than contiue to promote ideals that we all were disappointed in. So our first revision was to change to basic premise of our product, from a simple fun game to a system that was simply gamification of healthy and socailly proactive choices. We hope that through this society will contiue to grow in a postitive way and if one person were to benefit we would all think our hard work was well worth it.
                p The Nodémon Team <a href='https://github.com/adamthede'>adamthede</a>,<a href='https://github.com/natwebb'>natwebb</a>,<a href='https://github.com/RJFryman'>RJFryman</a>,<a href='https://github.com/samtes'>samtes</a>,<a href='https://github.com/SJTucker'>SJTucker</a>
                P nodemon.rjfryman.com
