extends ../shared/template

block less
  link(rel='stylesheet', href='/less/activity.css')

block content
  h1 New Activity

  .row
    .small-12.columns
      form#activityform
        fieldset
          legend Add an Activity
          .row
            .small-4.columns
              label Title
              input(type='text', name='name', autofocus='true', placeholder='Walk with my Dragon')
              label Date
              input(type='date', name='date')
              label Category
              select(name='category')
                option Social
                option Studying
                option Cardio Exercise
                option Weight Exercise
                option Hobbies
              label Activity Duration
              input(type='number', name='duration', placeholder='15 minutes')
              label Description
              textarea#description(name='description', placeholder='Had a totally awesome time')
              input(type='hidden', name='userId')#inputuserId
              select(name='nodemonId')#inputnodemonId
                each pet in pets
                  option(val='pet._id')= pet.name
              input(type='hidden', name='currentweather')#inputweathercurrent
              input(type='hidden', name='historicweather')#inputweatherhistoric
              input(type='hidden', name='location')#inputlocation
            .small-4.columns.hide#weathersection
              label Add Weather Information to This Activity
              button#queryweather.radius.tiny Get Current Weather
              button#historicweather.radius.tiny Get Historic Weather
              #historicweathersearch.hide
                label Select Date
                input(type='date')#historicdate
                label Enter Location
                input(type='text', placeholder='TN/Nashville')#historicplace
                button#gethistoricweather.radius.tiny Get Weather
              #weatherdata
            .small-4.columns.hide#locationsection
              label Add a Location to This Activity
              button#queryfoursquare.radius.tiny Get Current Location
              button#otherlocation.radius.tiny Search Locations
              #locationsearch.hide
                label Search Name
                input(type='text', placeholder='Chipotle')#searchlocation
                label Enter Location
                input(type='text', placeholder='Dallas, TX')#citystate
                button#searchfoursquare.radius.tiny Search Locations
              //select#venueselect
              #locationdata
          .row
            .small-12.columns
              #map
          .row
            .small-4.columns
              label &nbsp
              button.radius.small#addactivity Add Activity

block script
  script(src='/js/source/activity.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7SHoaSpx_SkDf3Qr3MSza5U3qtnEhATw&sensor=true')
